@import './utils/flexbox';

section{
    height: 100%;
    width: 30%;
    margin: 2em 0 0 0;
}
/* card styling */
.card_todo{
    border: solid 1px black;
    @include flex-container(row, space-evenly, center);
}
.close{
    margin-left: 8px;
    align-self: left;
    width: 32px;
    height: 32px;
}

.card_details{
    margin-left: 1em;
    flex-grow: 1;   
}