// Accepts multiple arguments
@mixin flex-container($direction,  $justify, $align, $height: auto, $width: auto, $wrap: wrap){
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
    height: $height;
    width: $width
}