// light colors
$primary-light: #f1f1f1 ;
$secondary-light: darken($primary-light, 10%);
$tertiary-light: lighten($primary-light, 20%) ;

// dark colors
$primary-dark: #2a2a2a;
$secondary-dark: darken($primary-dark, 10%) ;
$tertiary-dark: lighten($primary-dark, 20%) ;

// party colors
$primary-party: #9a1757;
$secondary-party: #560d39;
$tertiary-party: transparentize(#ad5eac, .2);
$extra-party: darken(#330f53, .6);
$text-party: #e7d1e7;

// misc variables
$border-radius: 6px;



$themes: (
    light: (
        primaryColor:  $primary-light,
        textColor: $primary-dark,
        secondaryColor: $secondary-light,
        tertiaryColor: $tertiary-light,
        gradient: radial-gradient($tertiary-light, $tertiary-dark),
        cardBoxShadow: .5px .5px .5px .5px $tertiary-dark,
    ),
    dark: (
        primaryColor: $primary-dark,
        textColor: $primary-light,
        secondaryColor: $secondary-dark,
        tertiaryColor: $tertiary-dark,
        gradient: radial-gradient($tertiary-dark, $tertiary-light),
        cardBoxShadow: .5px .5px .5px .5px $tertiary-light,
      ),
    party: (
        primaryColor: $primary-party,
        textColor: $text-party,
        secondaryColor: null,
        tertiaryColor: $tertiary-party,
        partyGradient: linear-gradient(to right, $primary-party, #421160),
        cardBoxShadow: .5px .5px .5px .5px $extra-party,
    )
)