select {
  height: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 10em;
  border-radius: 6px;
  margin: 0.5em;
}
.theme-light select {
  background-color: rgba(145, 232, 255, 0.4);
  color: #2a2a2a;
}
.theme-dark select {
  background-color: #5d5d5d;
  color: #f1f1f1;
}
.theme-party select {
  background-color: rgba(173, 94, 172, 0.2);
  color: #e7d1e7;
}

.theme-light h1, .theme-light h4, .theme-light h6, .theme-light p {
  color: #2a2a2a;
}
.theme-dark h1, .theme-dark h4, .theme-dark h6, .theme-dark p {
  color: #f1f1f1;
}
.theme-party h1, .theme-party h4, .theme-party h6, .theme-party p {
  color: #e7d1e7;
}

.wrapper_app {
  margin: -1em;
  padding: 1em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.theme-light .wrapper_app {
  background: #f1f1f1;
}
.theme-dark .wrapper_app {
  background: #2a2a2a;
}
.theme-party .wrapper_app {
  background: #9a1757;
  background-image: linear-gradient(to right, #9a1757, #421160);
}

.wrapper_todos {
  border-radius: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 90vw;
}

section {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 30%;
  overflow-x: scroll;
}

span {
  height: 85%;
}
.theme-light span {
  border-left: 1px solid rgba(145, 232, 255, 0.4);
}
.theme-dark span {
  border-left: 1px solid #5d5d5d;
}
.theme-party span {
  border-left: 1px solid rgba(173, 94, 172, 0.2);
}

.card_todo {
  border-radius: 6px;
  margin-top: 0.2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 4em;
  width: 95%;
}
.theme-light .card_todo {
  background-color: rgba(145, 232, 255, 0.4);
  color: #2a2a2a;
}
.theme-dark .card_todo {
  background-color: #5d5d5d;
  color: #f1f1f1;
}
.theme-party .card_todo {
  background-color: rgba(173, 94, 172, 0.2);
  color: #e7d1e7;
}

.close {
  margin-left: 8px;
  align-self: left;
  width: 32px;
  height: 32px;
}
.theme-light .close {
  color: #2a2a2a;
}
.theme-dark .close {
  color: #f1f1f1;
}
.theme-party .close {
  color: #e7d1e7;
}

.card_details {
  margin-left: 1em;
  flex-grow: 1;
}
.theme-light .card_details {
  color: #2a2a2a;
}
.theme-dark .card_details {
  color: #f1f1f1;
}
.theme-party .card_details {
  color: #e7d1e7;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 90vw;
}

.form-group input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 90vw;
  text-align: center;
  font-weight: bolder;
  border-radius: 6px;
  border: none;
}
.theme-light .form-group input {
  background-color: rgba(145, 232, 255, 0.4);
  color: #2a2a2a;
}
.theme-dark .form-group input {
  background-color: #5d5d5d;
  color: #f1f1f1;
}
.theme-party .form-group input {
  background-color: rgba(173, 94, 172, 0.2);
  color: #e7d1e7;
}

.theme-light input::placeholder {
  color: #2a2a2a;
}
.theme-dark input::placeholder {
  color: #f1f1f1;
}
.theme-party input::placeholder {
  color: #e7d1e7;
}

/*# sourceMappingURL=index.css.map */
